<h2>Autocomplete</h2>
<div class="demo__content">
  <div class="demo__left">
    <mat-accordion multi>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Snippets
          </mat-panel-title>
        </mat-expansion-panel-header>
        <u>Operator (simplified):</u>
        <pre>
source$.pipe(
  debounceTime(debounceDelay),
  switchMap(searchFn)
);
        </pre>
        <u>How to use:</u>
        <pre>
this.filteredOptions$ = source$.pipe(
    autocomplete(1000, value => searchItems())
);
</pre>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Example
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form>
          <mat-form-field appearance="fill">
            <mat-label>Choose your favorite beer</mat-label>
            <input type="text"
                   placeholder="Beer"
                   aria-label="Pick one"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <button mat-icon-button matSuffix type="button" *ngIf="isLoading">
              <mat-icon>hourglass_empty</mat-icon>
            </button>
          </mat-form-field>
        </form>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="demo__right">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Events</mat-card-title>
        <button mat-flat-button color="warn" (click)="clearEvent()">Clear</button>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let event of events">{{ event }}</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>


