.demo__right {
  .mat-card {
    display: flex;
    flex-direction: column;
  }
  .mat-card-content {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
}
.cache-last__result {
  font-size: xx-large;
  line-height: 1em;
}
