/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;

  * {
    box-sizing: border-box;
  }

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.demo {
  &__content {
    display: flex;
  }

  &__left {
    flex: 1;
    padding-right: 1em;
  }

  &__right {
    flex: 1;
    padding-left: 1em;
    .mat-card {
      height: 100%;
    }
  }
}
